include README.md
include LICENSE
include requirements.txt
recursive-include tests *.py
recursive-include docs *.md
recursive-include deployment *.md
recursive-include examples *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
